* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 20px;
    background: #F1F5F8;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    text-align: left;
    background-image: url('resources/Header_background.webp');
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:black;
  }

  /* Change title font size on different screen sizes*/
  @media screen and (min-width: 600px) {
    .header {
      font-size: 50px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .header {
      font-size: 30px;
    }
  }
  
  /* Adnan photo Alignment*/
  .adnan{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  /*add effects for main blog*/
  .blog {
    background-color: #F1F5F8;
    padding: 20px;
    margin-top: 20px;
  }
  /* Add a card effect for right blocks */
  .card {
    background-color: #009FE3;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }